<div class="footer">
  <div class="block">
    <img src="/0Imagens/logo-atlas-azul.png" alt="" class="logo" />
    <p>&copy 2026 • MIT License</p>
    <a href="/privacidade.html">Política de privacidade</a>
  </div>
  <div class="block">
    <p><strong>Links</strong></p>
    <a href="/competicoes.html">Competições</a>
    <a href="/oportunidades.html">Oportunidades</a>
    <a href="/seus-estudos.html">Seus estudos</a>
  </div>
  <div class="block">
    <p><strong>Social</strong></p>
    <p>Fale conosco:</p>
    <p><i>administrativo.projetoatlas@gmail.com</i></p>
    <a href="https://github.com/onlyanick/projeto-atlas">GitHub</a>
    <a href="https://www.instagram.com/oprojeto.atlas.html">Instagram</a>
    <a href="sobre-nos.html">Sobre nós</a>
  </div>
</div>
